@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card: #ffffff;
}

body {
  @apply text-gray-900;
}

/* Brand helpers */
.btn-brand{background:linear-gradient(180deg,#FFD05A,#FFB636);color:#111}
.badge-dark{background:#111;color:#fff}
